/*
WHOLE PAGE STYLE
*/

* {
  font-size: 1.1em;
  margin: 0;
  padding: 0;
  /*border: 1px dotted red;*/
}

/*body {
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  justify-content: flex-start;
}*/

header {
  /*flex: 1 100%;*/
  background-color: #FFB4B0;
  border: 3px solid black;
}

/*
NAVIGATION STYLE
*/



/*
FILTER STYLE
*/

.filters {
  /*flex: 1 1 30%;*/
  background-color: #4DD7FA;
  border: 3px solid black;
  padding: 2%;
  /*margin: .1em;*/
}

.filters select {
  border-radius: 5px;
}

.filters select {
  padding: .2em;
}

.song-length, .artist, .album, .genre {
  margin-bottom: 2%;
  /*display:flex;
  flex-wrap: wrap;*/
}

.song-length label, .artist label, .album label, .genre > label {
  /*flex-basis: 100%;*/
}

.song-length input[type="range"] {
  /*width: 75%;*/
}

.genre li {
  list-style: none;
}

/*.genre input[type="checkbox"] {
  outline: 3px solid black;
}*/

.submit-filter {
  clear: both;
  display: block;
  margin: auto;
  padding: 2%;
  font-size: 1.25em;
  border: 3px solid black;
  border-radius: 5px;
}

/*
SONG LIST STYLE
*/

.song-list {
/*  display: flex;
  flex-wrap: wrap;
  flex: 3 3 65%;*/
  background-color: #FEFAC0;
  border: 3px solid black;
}

.song-list li {
  list-style: none;
  margin: 1em;
  padding: 0;
}

.song-list ul {
  /*flex: 1 0 100%;*/
}

.song-info {
  width: 68%;
}

.song-info h1 {
  color: #785616;
}

.song-entry {
  border: 2px solid black;
}

.song-entry:nth-child(even) {
  background-color: #FFF5EE;
}

.song-entry:nth-child(odd) {
  background-color: #F5FFFA;
}

.song-entry:first-of-type {
  font-weight: bold;
}

#get-more-songs,
.delete-song {
  text-align: center;
  padding: .5em;
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 1em;
}

#get-more-songs {
  margin: .5em auto;
  display: block;
  /*flex-basis: 100%;*/
}

.delete-song {
  font-size: 1.5em;
}

.song-info,
.song-buttons {
  display: inline-block;
  margin: 0.3em 1em;
}

.song-buttons {
  width: 20%;
}