                                /*
                                WHOLE PAGE STYLE
                                */

* {
  font-size: 1.1em;
   /*border: 1px dotted red;*/
}

body {
  margin: 1%;
}

                                /*
                                NAVIGATION STYLE
                                */

nav {
  background-color: #FFB4B0;
  border: 3px solid black;
  margin-bottom: 1%;
}

nav li {
  list-style: none;
  display: inline;
}

ul {
  margin: 1%;
}

.nav-selected {
  text-decoration: none;
  color: black;
}

.nav-seperator {
  font-weight: 800;
}

                                    /*
                                    FILTER STYLE
                                    */

.filters {
  background-color: #4DD7FA;
  border: 3px solid black;
  float: left;
  max-width: 40%;
  padding: 2%;
}

.filters select {
  border-radius: 5px;
}

.song-length,
.artist,
.album,
.genre {
  margin-bottom: 2%;
}

.song-length label,
.artist label,
.album label,
.genre > label {
  display: block;
}

.song-length input[type="range"] {
  width: 100%;
}

.genre p {
  clear: both;
}

.genre-column {
  float: left;
}

.genre li {
  list-style: none;
}

.genre input[type="checkbox"] {
  outline: 2px solid red;
}

.submit-filter {
  clear: both;
  display: block;
  margin: auto;
  padding: 2%;
  font-size: 1.25em;
  border: 2px solid black;
  border-radius: 5px;
}

                                  /*
                                  SONG LIST STYLE
                                  */

.song-list {
  background-color: #FEFAC0;
  border: 3px solid black;
  float: left;
  max-width: 60%;
  margin: 0 1%;
}

.song-list li {
  list-style: none;
  margin: 1% 1%;
  padding: 0;
}

.song-list h3 {
  color: #785616;
}

.song-list h3,
.song-list p {
  margin: 0;
}

.song-list ul {
  padding: 0;
}
