                                /*
                                WHOLE PAGE STYLE
                                */

* {
  /* border: 1px dotted red; */
  margin: 0;
  padding: 0;
}

body {
  margin: 1%;
}

                                /*
                                NAVIGATION STYLE
                                */

nav {
  background-color: #FFB4B0;
  border: 3px solid black;
  margin-bottom: 1%;
}

nav li {
  list-style: none;
  display: inline;
}

ul {
  margin: 1%;
}

.nav-selected {
  text-decoration: none;
  color: black;
}

.nav-seperator {
  font-weight: 800;
}

                                    /*
                                    FILTER STYLE
                                    */

.filters {
  background-color: #4DD7FA;
  border: 3px solid black;
  float: left;
  max-width: 40%;
  padding: 2%;
}

.song-length label,
.artist label,
.album label {
  display: block;
}

.genre-column {
  float: left;
}

.genre li {
  list-style: none;
}

.submit-filter {
  clear: both;
  display: block;
  margin: 2% auto;
  padding: 2%;
  font-size: 1.25em;
  border: 2px solid black;
  border-radius: 5px;
}

                                  /*
                                  SONG LIST STYLE
                                  */

.song-list {
  background-color: #FEFAC0;
  border: 3px solid black;
  float: left;
  max-width: 60%;
  margin: 0 1%;
}

.song-list li {
  list-style: none;
  margin: 3% 2%;
}

.song-list h3 {
  color: #785616;
}