{{#each songs}}
<div class="song-entry row">
	<div class="song-info col-md-8">
		<h1>{{title}}</h1>
		<div>by {{artist}}</div>
		<div>on the album {{album}}</div>
	</div>
	<div class="song-buttons col-md-4">
		<button class="delete-song">Delete Button</button>
	</div>
</div>
{{/each}}