{{#each songs}}
<li class="song-entry">
	<div class="song-info">
		<h1>{{title}}</h1>
		<div>by {{artist}}</div>
		<div>on the album {{album}}</div>
	</div>
	<div class="song-buttons">
		<button class="delete-song">Delete Button</button>
	</div>
</li>
{{/each}}