{{#each songs}}
<div class="song-entry row">
	<div class="song-info col-md-8">
		<h1>{{title}}</h1>
		<div>by <b>{{artist}}</b></div>
		<div>on the album <b>{{album}}</b></div>
	</div>
	<div class="song-buttons col-md-4">
		<a class="delete-song btn btn-warning btn-raised" id="delete#{{@key}}">Delete Song</a>
	</div>
</div>
{{/each}}